.special{
    border: 1px solid grey;
    height: 2em;
width: 15em;
box-shadow: none;
border-radius: 0px;
    text-align: start;

}

li{

    list-style: none;
}

.appearance{

    border: 1px solid grey;
    height: 2em;
width: 15em;
box-shadow: none;
border-radius: 0px;
    text-align: start; 
}

.ListBearerNames{


  
    text-align: center;
}

#checkerDiv2{
  width:100%;
  margin: 0px 1%;
  display: none;
}

#subChecker{

    width: 100%;
    height: 80%;
    overflow: scroll;

    box-shadow: 1.2px 16px 14px;
    border: 0.01px solid grey;

    display: grid;
    grid-template-columns: auto auto auto auto auto ;
grid-auto-rows: max-content;

text-align-last: center;
}

#subCheckerDiv{
    width: 100%;
    overflow: scroll;
    height: 80%;

    box-shadow: 1.2px 16px 14px;
    border: 0.01px solid grey;

    display: grid;
    grid-template-columns: auto auto auto ;
grid-auto-rows: max-content;

text-align-last: center;

}

.ChapterBearer{
    margin: 9px;
    padding: 0px;
}

.VerseBearer{
    margin: 9px;
    padding: 0px;

}

#checkerDiv3{
width: 100%;
display: none;
   
}

#checkerDiv{
    height: 80%;
    overflow: scroll;
width: 100%;
    box-shadow: 4px 1px 11px;
    border: 0.01px solid grey;

}

#BibleSection{

   width: 100%; 
}


#overall{

    width: 100%;
    display: flex;
    /* height: 20vh; */

}

#root{
    height: 100vh;
}

#Appender{

    width: 50%;
    height: 100vh;



    /* border: 2px solid blue; */
}


#Appender2{
    height: 80vh;

    width: 102%;
    /* height: 100%; */
    margin-left: 2%;
    box-shadow: 4px 1px 11px;
    border: 0.01px solid grey;
    overflow: scroll;

}

#BibleText{
width: 50%;
    margin-left:1%;
    display: none;
}

#textHeader{
    width: 100%;
    text-align: center;
}

#BibleText{
    margin-left: 2%;
    width: 100%;
}

#ChapterInfo{

    text-align-last: center;
    font-weight: 700;
    margin-bottom: 1em;
}
